<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sauvignon COVID-19 Statistic</title>

    <link rel="stylesheet" th:href="@{/bootstrap.css}">
</head>

<body>
<h2>疫情情况</h2>

<label>
    <a class="btn btn-sm" th:href="@{/(lan='zh_CN')}">中文</a>
    <a class="btn btn-sm" th:href="@{/(lan='en_US')}">English</a>
</label>

<table class="table table-hover">
    <thead>
        <tr>
            <th><p>地区</p></th>
            <th><p>确诊</p></th>
            <th><p>确诊总量</p></th>
            <th><p>疑似病例</p></th>
            <th><p>死亡</p></th>
            <th><p>死亡率</p></th>
            <th><p>治愈</p></th>
            <th><p>治愈率</p></th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="data:${dataList}">
            <td th:text="${data.areaName}">name</td>
            <td th:text="${data.confirm}">confirm</td>
            <td th:text="${data.currentConfirm}">currentConfirm</td>
            <td th:text="${data.suspect}">suspect</td>
            <td th:text="${data.dead}">dead</td>
            <td th:text="${data.deadRate}">deadRate</td>
            <td th:text="${data.heal}">heal</td>
            <td th:text="${data.healRate}">healRate</td>
        </tr>
    </tbody>
</table>

</body>
</html>